
html, body, #view, .container{
	@extend .inline-el;
	@extend .full-size;
}

.ui-container{
	padding: 10px;
	position: absolute;
	z-index: 20;
	padding: 20px;
	background: $black;
	color: $white;

	width: $menu-w;
}

.room{
	@extend .full-size;
	position: fixed;
}