<div class="container">
	<div class="ui-container" ng-controller="UIController">
		<b>{{calculated}} cercles dessinés</b>

		<br /><br />
		<form novalidate class="simple-form">
			Echelle :
			<input type="range" 
				   ng-model="config.scale"
				   max="20" 
				   min="1" 
				   step="0.5" />
			<br>
			<span>(1pas = {{config.scale}}px)</span>
			
			<br>
			<br />

			Directions :
			<input type="range" 
				   ng-model="config.directions"
				   value="1" 
				   max="8" 
				   min="1" 
				   step="1" />
			<span>{{config.directions}}</span>
			<br /><br />

			Centre : <input class="input-text" type="input" ng-model="config.center.name">
			<br /><br />
			<br /><br />

			<div class="room-modifier" ng-repeat="(key, room) in config.rooms">
				<div class="title">Pièce n°{{key+1}} : <input type="input" class="input-text" ng-model="config.rooms[key].name"></div>
				<br />
				
				<span class="label">nb de pas :</span> 
				<input type="range" 
					class="range" 
					ng-model="config.rooms[key].size"
					max="20" 
					min="1" 
					step="0.5" />
				<span class="num">{{config.rooms[key].size}}</span>
				
				<br />

				<span class="label">opacité :</span> 
				<input type="range" 
					class="range" 
					ng-model="config.rooms[key].opacity"
					ng-change="updateColours(config)"
					value="0.5" 
					max="1" 
					min="0" 
					step="0.01" />
				<span class="num">{{config.rooms[key].opacity}}</span>
				<br />

				<input class="color" type="color" ng-model="config.rooms[key].colour" ng-change="updateColours(config)">
			</div>

			<input class="submit" type="submit" ng-click="update(config)" value="valider" />
		</form>

	</div>
	
	<room ng-repeat="room in rooms" room=room></room>
</div>